/* Colors */

.bg-PublixGreen {
  background-color: #3e902d;
}

/* Footer flush */
body {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px)
{
  footer div {
    font-size: 0.8rem;
  }
}
/* end footer flush */
@media only screen and (min-width: 768px)
{
  #table td:first-of-type {
    width:20%;
  }
}

@media only screen and (max-width: 576px) {
  .btn span {
    display: none;
  }

  .header {
    font-size: 0.9em;
  }

  #actionButtons button
  {
    padding: 0.8em 1.2em !important;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
}

table td:first-of-type
{
  font-weight: bold;
}

table, th, td {
  border: 1px solid black !important;
  padding: 10px !important;
}

th{
  background-color: #3e902d;
  color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #3e902d;
  color: #ffffff;
}

.form-group[data-error] .form-control {
  border-color: #c92432;
  color: #c92432;
  background: #fffafa;
}

.form-group[data-error]::after {
  content: attr(data-error);
  font-size: 0.9em;
  color: #c92432;
  display: block;
}

#tableDivision {
  min-height: 1vh;
}

/* Fix icon inside button click bug */
.bi {
  pointer-events: none;
}

/*ALERTS*/
.alert {
  display: none;
}

.alert[data-success] {
  display: block;
}

.alert[data-error] {
  display: block;
}

