/* Colors */

.bg-PublixGreen {
  background-color: #3e902d;
}

@media only screen and (min-width: 768px)
{
  #table td:first-of-type {
    width:20%;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
}

table, th, td {
  border: 1px solid black !important;
  padding: 10px !important;
}